<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <th:block th:replace="user/inc/nav :: nav"></th:block>

    <center>
        <div style="width: 60%; margin-top: 100px">

            <div th:if="${info != null}" th:text="${info}" class="alert alert-success" role="alert"></div>

            <th:block th:each="post : ${posts}">
                <div class="card">
                    <h3 class="card-header" th:text="${post.getTitle()}"></h3>
                    <div class="card-body">
                        <h6 class="card-title">Autor: <b th:text="${post.getUser().getNickname()}"></b></h6>
                        <p class="card-text" style="overflow:hidden;" th:text="${post.getContent()}"></p>
                        <a th:href="${'/post/details/' + post.getId()}" class="btn btn-primary">Skomentuj</a>
                        <a th:if="${userSession.getAccountType().name() == 'ADMIN'}" th:href="${'/post/delete/' + post.getId()}" class="btn btn-primary">Usuń</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Data dodania: <strong th:text="${post.getCreationTime()}"></strong></small>
                    </div>
                </div>

                <br/>
            </th:block>
        </div>
    </center>
</body>
</html>